CONFIG_BT_ENABLED=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y


CONFIG_TINYUSB_DESC_USE_ESPRESSIF_VID=n
CONFIG_TINYUSB_DESC_USE_DEFAULT_PID=n
CONFIG_TINYUSB_DESC_CUSTOM_VID=0x1209
CONFIG_TINYUSB_DESC_CUSTOM_PID=0xbbd1
CONFIG_TINYUSB_DESC_BCD_DEVICE=0x0100
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="clackups"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="HID Serial Bridge"
CONFIG_TINYUSB_DESC_SERIAL_STRING="000001"
CONFIG_TINYUSB_CDC_ENABLED=y
