# Override some defaults so BT stack is enabled by default
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_CTRL_MODE_BR_EDR_ONLY=n
CONFIG_BTDM_CTRL_MODE_BTDM=n

# automatic flash size update when esptool is used, used for detecting board
CONFIG_ESPTOOLPY_HEADER_FLASHSIZE_UPDATE=y

# enable all HID interfaces by default
CONFIG_MODULE_USEKEYBOARD=y
CONFIG_MODULE_USEMOUSE=y
CONFIG_MODULE_USEJOYSTICK=y

CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y


CONFIG_TINYUSB_DESC_CUSTOM_VID=0x1209
CONFIG_TINYUSB_DESC_CUSTOM_PID=0xbbd1
CONFIG_TINYUSB_DESC_BCD_DEVICE=0x0100
CONFIG_TINYUSB_DESC_MANUFACTURER_STRING="clackups"
CONFIG_TINYUSB_DESC_PRODUCT_STRING="HID Serial Bridge"
CONFIG_TINYUSB_DESC_SERIAL_STRING="000001"
CONFIG_TINYUSB_CDC_ENABLED=y
